<form #detailForm="ngForm" class="m-form m-form--group-seperator-dashed">

	<m-portlet [options]="{headLarge: true, enableSticky: false}" [loading$]="loading$">

		<ng-container mPortletHeadTitle>
			<div class="m-portlet__head-title">
				<h3 class="m-portlet__head-text">
					{{title}}
				</h3>
			</div> 
		</ng-container>
		<ng-container mPortletHeadTools>

			<button type="button" (click)="goBack()" mat-raised-button matTooltip="Back to the list of {{title}}">Return</button>&nbsp;
			 


			<div class="m-buttons--wrapper">
			 

				<m-spinner-button [options]="spinner" (click)="onSave(detailForm)" matTooltip="Save">Save</m-spinner-button>

				<button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
					<mat-icon>more_vert</mat-icon>
				</button>
				<mat-menu #menu="matMenu">
					<button mat-menu-item color="primary" (click)="onSave(detailForm)">Save and Exit</button> 
					<button mat-menu-item color="primary" (click)="onSaveAndContinue()">Save and Continue</button>
				</mat-menu>
			</div>
		</ng-container>
		<ng-container mPortletBody>
			<div class="m-portlet__body-progress">
				<mat-spinner [diameter]="20">
				</mat-spinner>
			</div>
			<div class="m-form__section m-form__section--first">
				<div class="m-form__group">
					<div class="row"> 
						<div class="col-md-6 m--margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input #FirstName="ngModel" matInput placeholder="First Name" name="FirstName" [(ngModel)]="detail.FirstName" required>
								<mat-error>
									First Name
									<strong>requerido</strong>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="col-md-6 m--margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input #LastName="ngModel" matInput placeholder="Last Name" name="LastName" [(ngModel)]="detail.LastName" required>
								<mat-error>
									Last Name
									<strong>requerido</strong>
								</mat-error>
							</mat-form-field>
						</div>
					</div>
				</div>

			</div>
		</ng-container>
	</m-portlet>
</form>
